/*
********
Reset
********
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
********
Debug
********
*/

/* box borders */
.debug .header-top div > *,
.debug .header-bottom > *,
.debug main div > div,
.debug footer div > div
 {
    border: 2px dashed black;
}

.debug footer .footer-top .menu-column > .col {
    border: 2px dashed white;
}

/* colors */

.debug header .header-top {
    background-color: #add8e6;
}

.debug header .header-bottom {
    background-color: #00008b;
}

.debug header .header-top .header-bar > * {
    background-color: goldenrod;
}

.debug header .header-bottom .content {
    background-color: #ee82ee;
}

.debug footer .footer-bottom {
    background-color: aquamarine;
}

.debug footer .footer-bottom > .col {
    background-color: pink;
}

/* heights */
.debug header .header-bottom .content {
    height: 400px;
}

.debug main section .row > .col-big,
.debug main section .row > .col-small {
    height: 600px;
}

.debug main section .row > .col-full {
    height: 900px;
}

.debug footer .footer-top {
    height: 600px
}

/*
********
Common
********
*/

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}

/*
********
Header
********
*/

header {
    border-bottom: 4px solid #add8e6;
    background-color: #add8e6;
}

header .header-top {
    /* disattivare padding se header-bar altezza fissa e flex */
    padding: 16px;
}

header .header-top .header-bar {
    display: flex;
    /* 
    /* align-items: center; */
    /* height: 80px; */
}

header .header-top .header-bar > * {
    padding: 10px;
}


header .header-top .header-login {
    text-align: right;
}

header .header-top .header-logo,
header .header-top .header-login {
    width: 20%;
}

header .header-top .header-links {
    flex-grow: 1;
}

header .header-top .header-links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

header .header-bottom {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

header .header-bottom .content {
    width: 900px;
}

/*
********
Main
********
*/

main section {
    padding: 50px;
}

main section:nth-child(even){
    background-color: #d3d3d3;
}

main section .row {
    display: flex;
    justify-content: space-between;
}

main section .row > .col-big {
    width: 60%;
    background-color: #1e90ff;
}

main section .row > .col-small {
    width: 40%;
    background-color: #ffc0cb;
}

main section .row > .col-full {
    width: 100%;
    background-color: #228b22;
}

/*
********
Footer
********
*/

footer {
    background-color: #23272a;
}

footer .footer-top {
    display: flex;
    padding: 10px 0;
}

footer .footer-top .main-column {
    flex-basis: 30%;
    background-color: #f08080;
}

footer .footer-top .menu-column {
    flex-basis: 70%;
    background-color: #20b2aa;
    display: flex;
    justify-content: space-between;
}

footer .footer-top .menu-column > .col {
    flex-basis: 25%;
}

footer hr {
    margin: 30px 0;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;

    /* esempio flex */
    /* height: 80px;
    align-items: center; */
    padding: 22px 0;
}

footer .footer-bottom > .col {
    padding: 5px 10px;
}
