/*
****
Reset
****
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
****
Debug
****
*/



.debug header .header-top .header-bar>div,
.debug header .header-top .header-bar>nav,
.debug header .header-bottom > div,
.debug main section .row > div
 {
    border: 2px dashed black;
}

.debug header .header-bottom .content {
    height: 400px;
}


.debug main section .row > .col-big,
.debug main section .row > .col-small {
    height: 600px;
}



.debug main section .row > .col-full {
    height: 900px;
}



/*
****
Common
****
*/

.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}





/*
****
Header
****
*/

header {
    border-bottom: 4px solid #add8e6;
}

header .header-top {
    background-color: #add8e6;
    padding: 15px 0;
}

header .header-top .header-bar {
    display: flex;
    background-color: goldenrod;
    align-items: center;

}

header .header-top .header-bar > div,
header .header-top .header-bar > nav {
    padding: 10px;
}

header .header-top .header-login {
    text-align: right;
}

header .header-top .header-logo,
header .header-top .header-login {
    width: 20%;
}

header .header-top .header-links {
    flex-grow: 1;
}

header .header-top .header-links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

header .header-bottom {
    background-color: #00008b;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

header .header-bottom .content {
    background-color: #ee82ee;
    width: 900px;
}






/*
****
Main
****
*/

main section {
    padding: 50px;
}

main section:nth-child(even){
    background-color: #d3d3d3;
}

main section .row {
    display: flex;
    justify-content: space-between;
}

main section .row > .col-big {
    width: 60%;
    background-color: #1e90ff;
}

main section .row > .col-small {
    width: 40%;
    background-color: #ffc0cb;
}

main section .row > .col-full {
    width: 100%;
    background-color: #228b22;
}





/*
****
Footer
****
*/